node_modules
.pnpm-store
.pnpm-store-bak
dist
packages/renderer/dist
packages/main/dist
packages/preload/dist
.git
.github
.vscode
*.log
*.md
!README.md
.env*
.DS_Store
coverage
.nyc_output
*.tsbuildinfo
.eslintcache
docker
tests
scripts
.electron-vendors.cache.json
